mchp_traffic_control.json
[{"id":"742bb561.12cef4","type":"tab","label":"Cars Flow","disabled":false,"info":""},{"id":"e581eee9.a695b","type":"tab","label":"Map Flow","disabled":false,"info":""},{"id":"4d133c46.3ab69c","type":"subflow","name":"Vehicle-Dashboard-Logic","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"9be11a32.ac326"}]}],"out":[{"x":700,"y":40,"wires":[{"id":"1c35d957.c64c17","port":0}]},{"x":700,"y":120,"wires":[{"id":"6cfa398f.ccff8","port":0}]},{"x":780,"y":160,"wires":[{"id":"885295d2.832fb","port":2}]},{"x":780,"y":220,"wires":[{"id":"885295d2.832fb","port":3}]},{"x":780,"y":280,"wires":[{"id":"46995f5d.2d147","port":0}]},{"x":700,"y":380,"wires":[{"id":"e0f77926.c3e618","port":0}]},{"x":700,"y":320,"wires":[{"id":"885295d2.832fb","port":5}]}],"env":[],"color":"#DDAA99","inputLabels":["MQTT Status"],"outputLabels":["Speed","Battery","ID","Name","Image"]},{"id":"96b54d8a.ec1a68","type":"mqtt-broker","z":"","name":"microchip anki","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"444acf22.dcc7a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Microchip Traffic Control","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f4eb06ef.0a2798","type":"ui_tab","z":"","name":"Cars","icon":"directions_car","order":1,"disabled":false,"hidden":false},{"id":"bffbde13.c62008","type":"ui_group","z":"","name":"Vehicle 1","tab":"f4eb06ef.0a2798","disp":true,"width":22,"collapse":true},{"id":"8102abb5.68de3","type":"ui_group","z":"","name":"Vehicle 2","tab":"f4eb06ef.0a2798","disp":true,"width":22,"collapse":true},{"id":"781e2925.fba7d","type":"ui_tab","z":"","name":"Map","icon":"map","order":2,"disabled":false,"hidden":false},{"id":"5ce6c1e7.604b28","type":"ui_group","z":"","name":"Map","tab":"781e2925.fba7d","disp":true,"width":14,"collapse":false},{"id":"3842cf17.1a3ba","type":"ui_spacer","name":"spacer","group":"5ce6c1e7.604b28","order":3,"width":10,"height":1},{"id":"8c4c01db.32ab48","type":"ui_group","z":"","name":"Vehicle 3","tab":"f4eb06ef.0a2798","disp":true,"width":22,"collapse":true},{"id":"72ac5e8f.5f5d78","type":"ui_spacer","name":"spacer","group":"bffbde13.c62008","order":3,"width":1,"height":1},{"id":"bf9ba93a.886428","type":"ui_spacer","name":"spacer","group":"bffbde13.c62008","order":8,"width":1,"height":1},{"id":"8509ac91.d1a268","type":"ui_spacer","name":"spacer","group":"bffbde13.c62008","order":12,"width":1,"height":1},{"id":"209a6b09.bf070c","type":"ui_spacer","name":"spacer","group":"bffbde13.c62008","order":15,"width":1,"height":1},{"id":"d584a37b.2994d","type":"ui_spacer","name":"spacer","group":"8102abb5.68de3","order":3,"width":1,"height":1},{"id":"4b99256f.23a964","type":"ui_spacer","name":"spacer","group":"8102abb5.68de3","order":8,"width":1,"height":1},{"id":"394f0748.dd6c98","type":"ui_spacer","name":"spacer","group":"8102abb5.68de3","order":12,"width":1,"height":1},{"id":"282b42d3.eaa0be","type":"ui_spacer","name":"spacer","group":"8102abb5.68de3","order":15,"width":1,"height":1},{"id":"8ccf36f4.586b9","type":"ui_spacer","name":"spacer","group":"8c4c01db.32ab48","order":3,"width":1,"height":1},{"id":"5c4b2c37.142394","type":"ui_spacer","name":"spacer","group":"8c4c01db.32ab48","order":8,"width":1,"height":1},{"id":"4d9c1466.a0fd24","type":"ui_spacer","name":"spacer","group":"8c4c01db.32ab48","order":12,"width":1,"height":1},{"id":"4ddcc091.a5db3","type":"ui_spacer","name":"spacer","group":"8c4c01db.32ab48","order":15,"width":1,"height":1},{"id":"9be11a32.ac326","type":"function","z":"4d133c46.3ab69c","name":"Strip Car Topic","func":"// extract the leading string from the topic\nvar pos = msg.topic.search('microchip/anki/car/');\nvar idMsg= { payload: '' };\nif (pos == 0) {\n    // valid mqtt message topic\n    // remove the leading name characters\n    var topicBody = msg.topic.slice(19);\n    // get the car macID\n    var macID = topicBody.substr(0, 12);\n    idMsg.payload = macID;\n    // get the tail of the topic \n    msg.topic = topicBody.slice(13);\n} else {\n    return [null, null];\n}\n\nreturn [idMsg, msg];\n","outputs":2,"noerr":0,"x":200,"y":140,"wires":[[],["885295d2.832fb"]],"inputLabels":["MQTT"],"outputLabels":["MACID","MSG"]},{"id":"27a5762.dae4b0a","type":"mqtt in","z":"742bb561.12cef4","name":"Guardian Status","topic":"microchip/anki/car/e4470b0397f0/status/#","qos":"2","datatype":"auto","broker":"96b54d8a.ec1a68","x":140,"y":100,"wires":[["ada9068f.a1506"]]},{"id":"6ceaae52.bdc178","type":"mqtt in","z":"742bb561.12cef4","name":"MXT Status","topic":"microchip/anki/car/c6e3f14f0617/status/#","qos":"2","datatype":"auto","broker":"96b54d8a.ec1a68","x":150,"y":420,"wires":[["68a9b9ef.35abf"]]},{"id":"885295d2.832fb","type":"switch","z":"4d133c46.3ab69c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"status/speed","vt":"str"},{"t":"eq","v":"status/battery","vt":"str"},{"t":"eq","v":"status/id","vt":"str"},{"t":"eq","v":"status/name","vt":"str"},{"t":"eq","v":"status/type","vt":"str"},{"t":"eq","v":"status/connection","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":370,"y":160,"wires":[["1c35d957.c64c17"],["6cfa398f.ccff8"],[],[],["46995f5d.2d147"],[]]},{"id":"1c35d957.c64c17","type":"range","z":"4d133c46.3ab69c","minin":"0","maxin":"1200","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":580,"y":40,"wires":[[]]},{"id":"6cfa398f.ccff8","type":"range","z":"4d133c46.3ab69c","minin":"0","maxin":"4200","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":580,"y":120,"wires":[[]]},{"id":"46995f5d.2d147","type":"function","z":"4d133c46.3ab69c","name":"","func":"msg.payload = '../images/' + msg.payload + '.png';\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[[]]},{"id":"ada9068f.a1506","type":"subflow:4d133c46.3ab69c","z":"742bb561.12cef4","name":"","env":[],"x":450,"y":100,"wires":[["3e445fa2.6aad1"],["fea64c78.b558c"],["f0302947.47dce8"],["b5a23a36.dff0f"],["5885d5a2.dce50c"],["71605f84.6e63d"],["cd325453.c021d8"]]},{"id":"68a9b9ef.35abf","type":"subflow:4d133c46.3ab69c","z":"742bb561.12cef4","name":"","env":[],"x":450,"y":420,"wires":[["436420c0.402ce"],["cef8e69c.c9ef3"],["ac66905a.7b37b"],["2c3a7694.3b14e2"],["acef9fb9.d1cb1"],["12d559b5.57fa2e"],["ac230c2f.0bd948"]]},{"id":"3e445fa2.6aad1","type":"ui_gauge","z":"742bb561.12cef4","name":"Speed","group":"bffbde13.c62008","order":5,"width":5,"height":4,"gtype":"gage","title":"Speed","label":"MPH","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":60,"wires":[]},{"id":"fea64c78.b558c","type":"ui_chart","z":"742bb561.12cef4","name":"","group":"bffbde13.c62008","order":6,"width":5,"height":4,"label":"Battery","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"60","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":100,"wires":[[]]},{"id":"f0302947.47dce8","type":"ui_text","z":"742bb561.12cef4","group":"bffbde13.c62008","order":7,"width":4,"height":1,"name":"","label":"ID:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":140,"wires":[]},{"id":"b5a23a36.dff0f","type":"ui_text","z":"742bb561.12cef4","group":"bffbde13.c62008","order":2,"width":4,"height":1,"name":"","label":"Name:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":180,"wires":[]},{"id":"5885d5a2.dce50c","type":"ui_template","z":"742bb561.12cef4","group":"bffbde13.c62008","name":"display","order":1,"width":6,"height":4,"format":"<p>\n    <img width=\"280\" height=\"175\" src={{msg.payload}} alt='Image not found' />\n</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":220,"wires":[[]]},{"id":"436420c0.402ce","type":"ui_gauge","z":"742bb561.12cef4","name":"Speed","group":"8102abb5.68de3","order":5,"width":5,"height":4,"gtype":"gage","title":"Speed","label":"MPH","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":380,"wires":[]},{"id":"cef8e69c.c9ef3","type":"ui_chart","z":"742bb561.12cef4","name":"","group":"8102abb5.68de3","order":6,"width":5,"height":4,"label":"Battery","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"60","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":420,"wires":[[]]},{"id":"ac66905a.7b37b","type":"ui_text","z":"742bb561.12cef4","group":"8102abb5.68de3","order":7,"width":4,"height":1,"name":"","label":"ID:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":460,"wires":[]},{"id":"2c3a7694.3b14e2","type":"ui_text","z":"742bb561.12cef4","group":"8102abb5.68de3","order":2,"width":4,"height":1,"name":"","label":"Name:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":500,"wires":[]},{"id":"acef9fb9.d1cb1","type":"ui_template","z":"742bb561.12cef4","group":"8102abb5.68de3","name":"display","order":1,"width":6,"height":4,"format":"<p>\n    <img width=\"280\" height=\"175\" src={{msg.payload}} alt='Image not found' />\n</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":540,"wires":[[]]},{"id":"e0f77926.c3e618","type":"inject","z":"4d133c46.3ab69c","name":"Check battery","topic":"","payload":"{\"d\":{\"action\":\"#bat\"}}","payloadType":"json","repeat":"20","crontab":"","once":true,"onceDelay":0.1,"x":520,"y":380,"wires":[[]]},{"id":"71605f84.6e63d","type":"mqtt out","z":"742bb561.12cef4","name":"Guardian CMD","topic":"microchip/anki/car/e4470b0397f0/cmd/fmt/json","qos":"","retain":"","broker":"96b54d8a.ec1a68","x":800,"y":280,"wires":[]},{"id":"12d559b5.57fa2e","type":"mqtt out","z":"742bb561.12cef4","name":"MXT CMD","topic":"microchip/anki/car/c6e3f14f0617/cmd/fmt/json","qos":"","retain":"","broker":"96b54d8a.ec1a68","x":790,"y":600,"wires":[]},{"id":"19a70bd6.22211c","type":"ui_slider","z":"742bb561.12cef4","name":"","label":"Speed","tooltip":"","group":"bffbde13.c62008","order":4,"width":1,"height":4,"passthru":true,"outs":"end","topic":"","min":0,"max":"180","step":1,"x":290,"y":280,"wires":[["4787fe2b.bd8bf8"]]},{"id":"4787fe2b.bd8bf8","type":"function","z":"742bb561.12cef4","name":"","func":"var newMsg={payload: msg.payload, topic:msg.topic};\nnewMsg.payload = {\"d\" : { \"action\":\"#speed\", \"speed\": 0}};\nnewMsg.payload.d.speed = Math.round(msg.payload * 1200/180);\nreturn newMsg;\n","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["71605f84.6e63d"]]},{"id":"e933c107.93a3e8","type":"ui_slider","z":"742bb561.12cef4","name":"","label":"Speed","tooltip":"","group":"8102abb5.68de3","order":4,"width":1,"height":4,"passthru":true,"outs":"end","topic":"","min":0,"max":"180","step":1,"x":290,"y":600,"wires":[["ba7eaed3.9d81f8"]]},{"id":"ba7eaed3.9d81f8","type":"function","z":"742bb561.12cef4","name":"","func":"var newMsg={payload: msg.payload, topic:msg.topic};\nnewMsg.payload = {\"d\" : { \"action\":\"#speed\", \"speed\": 0}};\nnewMsg.payload.d.speed = Math.round(msg.payload * 1200/180);\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["12d559b5.57fa2e"]]},{"id":"cd325453.c021d8","type":"function","z":"742bb561.12cef4","name":"","func":"var imgURL;\nif (msg.payload == 'connected') {\n    imgURL = '../images/enginestart_on.png';\n} else {\n    imgURL = '../images/enginestart_off.png';\n}\n\nmsg.payload = imgURL;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":240,"wires":[["5f107dd6.37aeb4"]]},{"id":"5f107dd6.37aeb4","type":"ui_template","z":"742bb561.12cef4","group":"bffbde13.c62008","name":"Start","order":9,"width":2,"height":2,"format":"<style>\n    :root {\n        --myHighlight:url('');\n    }\n    \n    .filled {\n        height: 100%;\n        padding: 0;\n        margin: 0;\n    }\n    \n    .not-filled {\n        height: 100%;\n        padding: 0;\n        margin: 0;\n        background-color: transparent;\n    }\n    \n    .images {\n        background-size:100% 100%;\n        background-repeat: no-repeat;\n    }\n    \n    .highlight-image {\n        background-image: var(--myHighlight) !important;\n    }\n</style>\n\n<script>\n    $('.touched-image').on('mousedown', function() {\n    $(this).addClass('highlight-image');\n    setTimeout(() => $(this).removeClass('highlight-image'), 200);\n</script>\n\n\n<button class=\"button not-filled touched-image images\"\n    style=\"\n        image: url({{msg.payload}});\n        background-image: url({{msg.payload}});\n        background-size: 80px;\n        border: 0;\n        outline: 0;\n        width: 80px;\n        height: 80px;\n        color: white;\n    \"\n    ng-click=\"send({payload: { 'd' : { 'action' : '#rescan' }}})\">\n</button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":290,"y":240,"wires":[["71605f84.6e63d"]]},{"id":"c221a2e3.c0b49","type":"ui_template","z":"742bb561.12cef4","group":"8102abb5.68de3","name":"Start","order":9,"width":2,"height":2,"format":"<style>\n    :root {\n        --myHighlight:url('');\n    }\n    \n    .filled {\n        height: 100%;\n        padding: 0;\n        margin: 0;\n    }\n    \n    .not-filled {\n        height: 100%;\n        padding: 0;\n        margin: 0;\n        background-color: transparent;\n    }\n    \n    .images {\n        background-size:100% 100%;\n        background-repeat: no-repeat;\n    }\n    \n    .highlight-image {\n        background-image: var(--myHighlight) !important;\n    }\n</style>\n\n<script>\n    $('.touched-image').on('mousedown', function() {\n    $(this).addClass('highlight-image');\n    setTimeout(() => $(this).removeClass('highlight-image'), 200);\n</script>\n\n\n<button class=\"button not-filled touched-image images\"\n    style=\"\n        image: url({{msg.payload}});\n        background-image: url({{msg.payload}});\n        background-size: 80px;\n        border: 0;\n        outline: 0;\n        width: 80px;\n        height: 80px;\n        color: white;\n    \"\n    ng-click=\"send({payload: { 'd' : { 'action' : '#rescan' }}})\">\n</button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":290,"y":560,"wires":[["12d559b5.57fa2e"]]},{"id":"ac230c2f.0bd948","type":"function","z":"742bb561.12cef4","name":"","func":"var imgURL;\nif (msg.payload == 'connected') {\n    imgURL = '../images/enginestart_on.png';\n} else {\n    imgURL = '../images/enginestart_off.png';\n}\n\nmsg.payload = imgURL;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":560,"wires":[["c221a2e3.c0b49"]]},{"id":"3d0ce78a.56e888","type":"mqtt in","z":"e581eee9.a695b","name":"","topic":"microchip/anki/track","qos":"1","datatype":"auto","broker":"96b54d8a.ec1a68","x":150,"y":80,"wires":[["1ab06e4b.e406da","4421312b.1d1ec"]]},{"id":"1ab06e4b.e406da","type":"debug","z":"e581eee9.a695b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":80,"wires":[]},{"id":"373cb39f.655c04","type":"ui_template","z":"e581eee9.a695b","group":"5ce6c1e7.604b28","name":"Retrieve Map","order":2,"width":2,"height":1,"format":"<style>\n    :root {\n        --myHighlight:url('');\n    }\n    \n    .filled {\n        height: 100%;\n        padding: 0;\n        margin: 0;\n    }\n    \n    .not-filled {\n        height: 100%;\n        padding: 0;\n        margin: 0;\n        background-color: transparent;\n    }\n    \n    .rounded {\n        border-radius: 10%;\n        font-size: 10px;\n    }\n    \n    .images {\n        background-size:100% 100%;\n        background-repeat: no-repeat;\n    }\n    \n    .highlight-image {\n        background-image: var(--myHighlight) !important;\n    }\n</style>\n\n<script>\n    $('.touched-image').on('mousedown', function() {\n    $(this).addClass('highlight-image');\n    setTimeout(() => $(this).removeClass('highlight-image'), 200);\n</script>\n\n\n<md-button class=\"filled rounded\"\n   style=\"width: 80px; height: 40px; padding: 0; margin: 0;\"\n    ng-click=\"send({payload: { 'd' : { 'action' : '#getmap' }}})\"> \n    Get Map\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":210,"y":260,"wires":[["478e6da9.143194"]]},{"id":"4641dff0.9dbd5","type":"ui_template","z":"e581eee9.a695b","group":"5ce6c1e7.604b28","name":"Map track","order":1,"width":2,"height":1,"format":"<style>\n    :root {\n        --myHighlight:url('');\n    }\n    \n    .filled {\n        height: 100%;\n        padding: 0;\n        margin: 0;\n    }\n    \n    .not-filled {\n        height: 100%;\n        padding: 0;\n        margin: 0;\n        background-color: transparent;\n    }\n    \n    .rounded {\n        border-radius: 10%;\n        font-size: 10px;\n    }\n    \n    .images {\n        background-size:100% 100%;\n        background-repeat: no-repeat;\n    }\n    \n    .highlight-image {\n        background-image: var(--myHighlight) !important;\n    }\n</style>\n\n<script>\n    $('.touched-image').on('mousedown', function() {\n    $(this).addClass('highlight-image');\n    setTimeout(() => $(this).removeClass('highlight-image'), 200);\n</script>\n\n\n<md-button class=\"filled rounded\"\n   style=\"width: 80px; height: 40px; padding: 0; margin: 0;\"\n    ng-click=\"send({payload: { 'd' : { 'action' : '#map' }}})\"> \n    Map Track\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":220,"y":200,"wires":[["478e6da9.143194"]]},{"id":"478e6da9.143194","type":"mqtt out","z":"e581eee9.a695b","name":"","topic":"microchip/anki/car/e4470b0397f0/cmd/fmt/json","qos":"","retain":"","broker":"96b54d8a.ec1a68","x":620,"y":260,"wires":[]},{"id":"4421312b.1d1ec","type":"ui_template","z":"e581eee9.a695b","group":"5ce6c1e7.604b28","name":"Track Map Display","order":4,"width":"14","height":"8","format":"<script>\n\n// load all of the image tiles and call the draw callback\n// once they are all loaded\nfunction loadMapTiles(callback) {\n    var images = [];\n    var imagePath;\n    var loadedImages = 0;\n    \n    for(var imgCount = 0; imgCount < 25; imgCount++) {\n        imagePath = \"../images/medium/\" + imgCount + \".png\"; \n        images[imgCount] = new Image();\n        images[imgCount].onload = function() {\n            console.log(\"Loaded: \" + loadedImages);\n            if (++loadedImages >= 25) {\n                // all images have now been loaded then callback\n                callback(images);\n            }    \n        }\n        images[imgCount].src = imagePath;\n    }\n}\n\n\nfunction drawMap(mapArray) {\n    var canvas = document.getElementById('mapCanvas');\n    var context = canvas.getContext('2d');\n    var tileIndex;\n    \n    // clear the canvas\n    context.clearRect(0, 0, canvas.width, canvas.height);\n    \n    console.log(\"Map array: \" + mapArray);\n\n    // load the map tiles and then render them\n    loadMapTiles( function(images) {\n        // calculate the scaling factor for the tiles\n        var wRatio = canvas.width / mapArray[0].length;\n        var hRatio = canvas.height / mapArray.length;\n        var tileSize = Math.min(wRatio, hRatio);\n        // calculate the offset for the image\n        var xoffset = (canvas.width - (tileSize * mapArray[0].length)) / 2;\n        var yoffset = (canvas.height - (tileSize * mapArray.length)) / 2;\n        \n        console.log(\"Canvas: \" + canvas.width + \" x \" + canvas.height);\n        console.log(\"  wRatio: \" + wRatio);\n        console.log(\"  hRatio: \" + hRatio);\n        console.log(\"  Size: \" + tileSize);\n        console.log(\"  Offsets: \" + xoffset + \" , \" + yoffset);\n        for(var y = 0; y < mapArray.length; y++) {\n            for(var x = 0; x < mapArray[y].length; x++) {   \n                tileIndex = mapArray[y][x];\n                console.log(\"tileIndex: \" + tileIndex);\n                context.drawImage(images[tileIndex], \n                    (x * tileSize) + xoffset, (y * tileSize) + yoffset, tileSize , tileSize);\n            }\n        }\n    });\n}\n\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        // covnert the text back to a JSON object\n        drawMap(JSON.parse(data));\n    });\n    \n}) (scope);\n\n\n</script> \n\n<canvas id=\"mapCanvas\" width=\"750\" height=\"400\" style=\"border:1px solid #FFFFFF\"></canvas>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":490,"y":160,"wires":[[]]},{"id":"33d4beb3.75bf9a","type":"ui_button","z":"742bb561.12cef4","name":"","group":"bffbde13.c62008","order":10,"width":1,"height":1,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"d\":{\"action\":\"#lane\",\"offset\":-10}}","payloadType":"json","topic":"","x":450,"y":180,"wires":[["71605f84.6e63d"]]},{"id":"2d671961.fecd56","type":"ui_button","z":"742bb561.12cef4","name":"","group":"bffbde13.c62008","order":11,"width":1,"height":1,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"d\":{\"action\":\"#lane\",\"offset\": 10}}","payloadType":"json","topic":"","x":450,"y":220,"wires":[["71605f84.6e63d"]]},{"id":"1352f820.f65b48","type":"ui_button","z":"742bb561.12cef4","name":"","group":"8102abb5.68de3","order":10,"width":1,"height":1,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"d\":{\"action\":\"#lane\",\"offset\":-10}}","payloadType":"json","topic":"","x":450,"y":500,"wires":[["12d559b5.57fa2e"]]},{"id":"7b5d6ec1.8d94d8","type":"ui_button","z":"742bb561.12cef4","name":"","group":"8102abb5.68de3","order":11,"width":1,"height":1,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"d\":{\"action\":\"#lane\",\"offset\": 10}}","payloadType":"json","topic":"","x":450,"y":540,"wires":[["12d559b5.57fa2e"]]},{"id":"d30ce693.3c4f18","type":"mqtt in","z":"742bb561.12cef4","name":"FreeWheel Status","topic":"microchip/anki/car/ede3c4c16627/status/#","qos":"2","datatype":"auto","broker":"96b54d8a.ec1a68","x":170,"y":760,"wires":[["aefe3fbd.b5d1"]]},{"id":"aefe3fbd.b5d1","type":"subflow:4d133c46.3ab69c","z":"742bb561.12cef4","name":"","env":[],"x":450,"y":760,"wires":[["efae55ec.d9c1a"],["600c8db9.63d114"],["bc17c1b6.c866c8"],["a524ca8.ff08ab8"],["5f47b0a8.aff768"],["248d46d.419cb3a"],["b164f73.8264288"]]},{"id":"efae55ec.d9c1a","type":"ui_gauge","z":"742bb561.12cef4","name":"Speed","group":"8c4c01db.32ab48","order":5,"width":5,"height":4,"gtype":"gage","title":"Speed","label":"MPH","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":720,"wires":[]},{"id":"600c8db9.63d114","type":"ui_chart","z":"742bb561.12cef4","name":"","group":"8c4c01db.32ab48","order":6,"width":5,"height":4,"label":"Battery","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"60","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":760,"wires":[[]]},{"id":"bc17c1b6.c866c8","type":"ui_text","z":"742bb561.12cef4","group":"8c4c01db.32ab48","order":7,"width":4,"height":1,"name":"","label":"ID:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":800,"wires":[]},{"id":"a524ca8.ff08ab8","type":"ui_text","z":"742bb561.12cef4","group":"8c4c01db.32ab48","order":2,"width":4,"height":1,"name":"","label":"Name:","format":"{{msg.payload}}","layout":"row-left","x":770,"y":840,"wires":[]},{"id":"5f47b0a8.aff768","type":"ui_template","z":"742bb561.12cef4","group":"8c4c01db.32ab48","name":"display","order":1,"width":6,"height":4,"format":"<p>\n    <img width=\"280\" height=\"175\" src={{msg.payload}} alt='Image not found' />\n</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":880,"wires":[[]]},{"id":"248d46d.419cb3a","type":"mqtt out","z":"742bb561.12cef4","name":"FreeWheel CMD","topic":"microchip/anki/car/ede3c4c16627/cmd/fmt/json","qos":"","retain":"","broker":"96b54d8a.ec1a68","x":810,"y":940,"wires":[]},{"id":"fa05fbd5.392ff8","type":"ui_slider","z":"742bb561.12cef4","name":"","label":"Speed","tooltip":"","group":"8c4c01db.32ab48","order":4,"width":1,"height":4,"passthru":true,"outs":"end","topic":"","min":0,"max":"180","step":1,"x":290,"y":940,"wires":[["c05a446f.fddd4"]]},{"id":"c05a446f.fddd4","type":"function","z":"742bb561.12cef4","name":"","func":"var newMsg={payload: msg.payload, topic:msg.topic};\nnewMsg.payload = {\"d\" : { \"action\":\"#speed\", \"speed\": 0}};\nnewMsg.payload.d.speed = Math.round(msg.payload * 1200/180);\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":940,"wires":[["248d46d.419cb3a"]]},{"id":"6b173cd0.6c3884","type":"ui_template","z":"742bb561.12cef4","group":"8c4c01db.32ab48","name":"Start","order":9,"width":2,"height":2,"format":"<style>\n    :root {\n        --myHighlight:url('');\n    }\n    \n    .filled {\n        height: 100%;\n        padding: 0;\n        margin: 0;\n    }\n    \n    .not-filled {\n        height: 100%;\n        padding: 0;\n        margin: 0;\n        background-color: transparent;\n    }\n    \n    .images {\n        background-size:100% 100%;\n        background-repeat: no-repeat;\n    }\n    \n    .highlight-image {\n        background-image: var(--myHighlight) !important;\n    }\n</style>\n\n<script>\n    $('.touched-image').on('mousedown', function() {\n    $(this).addClass('highlight-image');\n    setTimeout(() => $(this).removeClass('highlight-image'), 200);\n</script>\n\n\n<button class=\"button not-filled touched-image images\"\n    style=\"\n        image: url({{msg.payload}});\n        background-image: url({{msg.payload}});\n        background-size: 80px;\n        border: 0;\n        outline: 0;\n        width: 80px;\n        height: 80px;\n        color: white;\n    \"\n    ng-click=\"send({payload: { 'd' : { 'action' : '#rescan' }}})\">\n</button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":290,"y":900,"wires":[["248d46d.419cb3a"]]},{"id":"b164f73.8264288","type":"function","z":"742bb561.12cef4","name":"","func":"var imgURL;\nif (msg.payload == 'connected') {\n    imgURL = '../images/enginestart_on.png';\n} else {\n    imgURL = '../images/enginestart_off.png';\n}\n\nmsg.payload = imgURL;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":900,"wires":[["6b173cd0.6c3884"]]},{"id":"48513a4b.b353cc","type":"ui_button","z":"742bb561.12cef4","name":"","group":"8c4c01db.32ab48","order":10,"width":1,"height":1,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"d\":{\"action\":\"#lane\",\"offset\":-10}}","payloadType":"json","topic":"","x":450,"y":840,"wires":[["248d46d.419cb3a"]]},{"id":"f41ab3ce.62f02","type":"ui_button","z":"742bb561.12cef4","name":"","group":"8c4c01db.32ab48","order":11,"width":1,"height":1,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"d\":{\"action\":\"#lane\",\"offset\": 10}}","payloadType":"json","topic":"","x":450,"y":880,"wires":[["248d46d.419cb3a"]]},{"id":"33e2562e.3e2dfa","type":"mqtt in","z":"742bb561.12cef4","d":true,"name":"","topic":"microchip/anki/car/e4470b0397f0/location","qos":"2","datatype":"auto","broker":"96b54d8a.ec1a68","x":250,"y":1020,"wires":[["f0b1bd6b.5ae138"]]},{"id":"f0b1bd6b.5ae138","type":"file","z":"742bb561.12cef4","d":true,"name":"","filename":"/home/masters/nrlog","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":590,"y":1020,"wires":[[]]},{"id":"5857dfb0.c7966","type":"ui_button","z":"742bb561.12cef4","name":"","group":"bffbde13.c62008","order":14,"width":1,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":130,"y":280,"wires":[["19a70bd6.22211c"]]},{"id":"13ad5716.4ef249","type":"ui_button","z":"742bb561.12cef4","name":"","group":"8102abb5.68de3","order":14,"width":1,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":130,"y":600,"wires":[["e933c107.93a3e8"]]},{"id":"4fc8f2dc.ccb03c","type":"ui_button","z":"742bb561.12cef4","name":"","group":"8c4c01db.32ab48","order":14,"width":1,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":130,"y":940,"wires":[["fa05fbd5.392ff8"]]},{"id":"ce9e7fa5.45948","type":"ui_button","z":"742bb561.12cef4","name":"","group":"bffbde13.c62008","order":13,"width":1,"height":1,"passthru":false,"label":"SF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"d\":{\"action\":\"#startline\"}}","payloadType":"str","topic":"","x":450,"y":320,"wires":[["71605f84.6e63d"]]},{"id":"ba7e067.296ff78","type":"ui_button","z":"742bb561.12cef4","name":"","group":"8102abb5.68de3","order":13,"width":1,"height":1,"passthru":false,"label":"SF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"d\":{\"action\":\"#startline\"}}","payloadType":"str","topic":"","x":450,"y":640,"wires":[["12d559b5.57fa2e"]]},{"id":"a1e3b864.e4df4","type":"ui_button","z":"742bb561.12cef4","name":"","group":"8c4c01db.32ab48","order":13,"width":1,"height":1,"passthru":false,"label":"SF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"d\":{\"action\":\"#startline\"}}","payloadType":"str","topic":"","x":450,"y":980,"wires":[["248d46d.419cb3a"]]}]